/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: rgb(252, 34, 34);
    }
}

.typewriter {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        display: block;
        overflow: hidden;
        border-right: 0.1em solid rgb(252, 34, 34);
        white-space: nowrap;
        letter-spacing: 0.1em;
        animation: blink-caret 1.2s step-end infinite;
    }
}
