:root.dark {
  /* Backgrounds */
  --background-base: black;
  --background-action-primary: #b6bdff;
  --background-action-secondary: black;
  --background-action-disabled: #2a2a2a;
  --background-action-active: #ffffff;
  --background-action-hover: #414141;

  /* Text Color */
  --text-primary: #ffffff;
  --text-secondary: #d0d0d0;
  --text-tertiary: #a0a0a0;
  --text-action-primary: black;
  --text-action-secondary: #ffffff;
  --text-action-disabled: #717171;
  --text-action-active: black;
  --text-link: #b6bdff;
  --text-icon: #e7e7e7;

  /* Hovers */
  --hover-text-action: #ffffff;
  --hover-text-link: #a0a0a0;

  /* Borders */
  --border-action-secondary: #717171;

  /* Gradients */
  --gradient-intro-from: #00ff38;
  --gradient-intro-to: #0500ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Backgrounds */
    --background-base: black;
    --background-action-primary: #b6bdff;
    --background-action-secondary: black;
    --background-action-disabled: #2a2a2a;
    --background-action-active: #ffffff;
    --background-action-hover: #414141;

    /* Text Color */
    --text-primary: #ffffff;
    --text-secondary: #d0d0d0;
    --text-tertiary: #a0a0a0;
    --text-action-primary: black;
    --text-action-secondary: #ffffff;
    --text-action-disabled: #717171;
    --text-action-active: black;
    --text-link: #b6bdff;
    --text-icon: #e7e7e7;

    /* Hovers */
    --hover-text-action: #ffffff;
    --hover-text-link: #a0a0a0;

    /* Borders */
    --border-action-secondary: #717171;

    /* Gradients */
    --gradient-intro-from: #00ff38;
    --gradient-intro-to: #0500ff;
  }

  html {
    color-scheme: dark;
  }
}
