header.mainNavBarTop {
    background: transparent;
    box-shadow: none;

    & > div {
        display: flex;
        justify-content: center;

        .MuiTypography-root {
            margin-right: 20px;
            padding-right: 20px;

            a {
              color: #fff;
              text-decoration: none;

                &.active,
                &:hover {
                    color: rgb(252, 34, 34);
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
}
