@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./fonts.css');
@import url('./themes/light.css');
@import url('./themes/dark.css');

@layer base {
  html {
    font-family: 'SF Pro Text';
  }
}

body {
  background-color: var(--background-base);
  color: var(--text-primary);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
