@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./fonts.css');
@import url('./themes/light.css');
@import url('./themes/dark.css');

@layer base {
  html {
    font-family: 'SF Pro Text';
  }

  ::-webkit-scrollbar {
    width: 0.6rem;
  }

  ::-webkit-scrollbar-track {
    background: var(--background-base);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--background-action-hover);
    border: 0.125rem solid var(--background-action-hover);
    border-radius: 100vw;
  }
}

body {
  background-color: var(--background-base);
  color: var(--text-primary);
}

*,
::before,
::after {
  transition: all 80ms ease;
  transition-property: color, background-color;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
